    GLOBAL_SETTINGS
    LAB_MASTER_SEED nsm-wazuh-zeek_vuhung_master_seed
    REGISTRY trangninh
NETWORK NSM
     MASK 192.168.10.0/24
     GATEWAY 192.168.10.1
CONTAINER monitor
     USER ubuntu
     X11 YES
     NSM 192.168.10.2
CONTAINER agent
     USER ubuntu
     X11 YES
     NSM 192.168.10.3
CONTAINER attacker
     USER ubuntu
     X11 YES
     NSM 192.168.10.4
