    GLOBAL_SETTINGS
    LAB_MASTER_SEED nsm-wazuh-bruteforce_vuhung_master_seed
    REGISTRY vutuanhung
NETWORK LAN
     MASK 172.10.9.0/24
     GATEWAY 172.10.9.1
CONTAINER monitor
     USER ubuntu
     X11 YES
     LAN 172.10.9.2
CONTAINER attacker
     USER ubuntu
     X11 YES
     LAN 172.10.9.4
CONTAINER agent
     USER ubuntu
     X11 YES
     LAN 172.10.9.3
