    GLOBAL_SETTINGS
    LAB_MASTER_SEED nsm-wazuh-suricata_vuhung_master_seed
    REGISTRY trangninh
NETWORK PTIT
     MASK 192.168.38.0/24
     GATEWAY 192.168.38.1
CONTAINER manager
     USER ubuntu
     X11 YES
     PTIT 192.168.38.2
CONTAINER agent
     USER ubuntu
     X11 YES
     PTIT 192.168.38.3
CONTAINER attacker
     USER ubuntu
     X11 YES
     PTIT 192.168.38.4
