    GLOBAL_SETTINGS
    LAB_MASTER_SEED nsm-wazuh-sqli_vuhung_master_seed
    REGISTRY trangninh
NETWORK HUNG
     MASK 10.9.9.0/24
     GATEWAY 10.9.9.1
CONTAINER manager
     USER ubuntu
     X11 YES
     HUNG 10.9.9.2
CONTAINER agent
     USER ubuntu
     X11 YES
     HUNG 10.9.9.3
CONTAINER attacker
     USER ubuntu
     X11 YES
     HUNG 10.9.9.4
